* {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

/*body html {
  color: white;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}*/
#mainNav {
  padding: 0 15px;
}
.nav-btn {
  background-color: #46166B;
}
.glyphicon {
  color: white;
}
.nav-links {
  font-family: 'Monserrat', helvetica, sans-serif;
  text-transform: uppercase;
  font-kerning: 3px;
}

#top-logo {
  color: #46166B;
  font-family: "Great Vibes", cursive;
  font-size: 36px;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Monserrat', helvetica, sans-serif;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
}

#sh-logo-container {
    height: 600px;
    width: 100%;
    background-image: url(../images/spa-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
  }

  .book-online {
    border: 1px solid white;
    padding: 20px 50px;
    margin-top: 50px;
  }
    #sh-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    #sh-logo-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-items: center;

    }
      .logo-image {
        width: auto;
        height: 100%;
      }
      .since {
        color: white;
        font-family: 'Montserrat', sans-serif;

      }
      .book-now {

      }

#welcome-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 30px 45px;
}
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
    .welcome {
      text-align: center;
      font-family: 'Montserrat';
      font-size: 2em;
      color: #46166B;
      padding-bottom: 10px;
    }
    .sh-description {
      text-align: center;
      font-style: italic;
      color: gray;
    }

  #services-and-staff {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

    .services-offered {
      height: 100%;
      padding: 0;
      margin: 0;
    }

  #boutique-and-bridal {

  }
    .boutique {
      /*height: 100%;*/
    }
    .sh-middle {
      /*height: 100%;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 10% 0;
    }
    .book-online-2 {
      color: #46166B;
      background-color: #bc93cc;
      border: 1px solid gray;
      padding: 20px 50px;
      margin-top: 50px;
      text-transform: uppercase;
      font-size: 24px;
    }

#contact-and-social {
  width: 100%;
  height: auto;
}
  .contact {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #46166B;
    font-size: 4em;
  }

.social-media {
  padding: 0;
}

.social-img {
  width: 30px;
  height: auto;
}

#staff-work {
  margin: 0;
  padding: 0;
}

.our-work {
  text-align: center;
  padding: 30% 0;
  font-size: 28px;
  color: #46166B;
  font-family: 'Montserrat';
}
.email-phone {
  margin: 18% 0;
  color: gray;
  font-family: 'Montserrat';
}
.email-phone p {
  text-align: center;
  padding: 2px 0;
}
  .email-phone p:nth-child(3) {
    margin-top: 10%;
  }

.purple-logo-container {
  text-align: center;
  margin: 20% 0;
  display: flex;
  align-items: flex-end;
}
.purple-logo {
  width: 100%;
  height: auto;
}

.media-icons {
  text-align: center;
  margin: 45% 0;
  color: gray;
  font-family: 'Montserrat';
}
.media-icons p,a,input {
  padding: 10px 0;
}
  .media-icons p:nth-child(6) {
    margin-top: 10%;
  }
  input.underline {
    font-size: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    min-width: 170px;
    display: block;
    margin: 5px auto;
    padding: 5px;
    overflow: visible;
    border-bottom: 1px solid #bbb;
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: 0;
  }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #7a42ae;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  /*text-shadow: 1px 1px 5px #46166B;*/
  position: relative;
  font-size: 37px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  padding-top: 2em;
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

footer {
  color: lightgray;
  font-family: 'Raleway', Helvetica, arial, sans-serif;
  padding: 10px 30px;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.hovereffect2 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect2 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect2 img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect2:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

.hovereffect2 h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 27px;
  padding: 10px;
  width: 100%;
}

.hovereffect2:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect2 a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect2 a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect2 .rotate {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  position: absolute;
}

.hovereffect2 hr {
  width: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hovereffect2  hr:nth-child(2) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
}

.hovereffect2  hr:nth-child(3) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
}

.hovereffect2 h2, .hovereffect2 hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
}

.group1, .group2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.group1 {
  top: 40%;
}

.group2 {
  top: 60%;
}

.hovereffect2 p {
  width: 30%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect2 p a {
  color: #fff;
}

.hovereffect2 p a:hover,
.hovereffect2 p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect2  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 10px;
  font-size: 20px;
}

.group1 a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
  transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
}

.group1 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
  transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
}

.group2 a:first-child i {
  -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
  transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
}

.group2 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
  transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
}

.hovereffect2:hover hr:nth-child(2) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
}

.hovereffect2:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
}

.hovereffect2:hover .group1 i:empty, .hovereffect2:hover .group2 i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0) rotate(45deg) scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

/* styling for Services Page*/

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hair-bg {
width: 100%;
height: 550px;
margin-top: 50px;
background-image: url(../images/Yellow-Glove-Lady.jpg);
background-size: cover;
background-position: bottom;
/*background-attachment: fixed;*/
display: flex;
align-content: center;
align-items: center;
justify-content: center;
}
  h1.hair-services {
    color: white;
    font-family: 'Montserrat';
    font-size: 44px;
    text-align: center;
  }
.hair-menu{
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

td {
  padding: 10px 50px;
  font-family: 'Raleway';
  font-size: 16px;
  color: #46166B;
}

.nails-bg {
  width: 100%;
  height: 425px;
  background-image: url(../images/nails-cover.jpg);
  background-size: cover;
  /*background-attachment: fixed;*/
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
  h1.services {
    color: white;
    font-family: 'Montserrat';
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
  }

.makeup-bg {
width: 100%;
height: 550px;
background-image: url(../images/makeup01.jpg);
background-size: cover;
background-position: center;;
/*background-attachment: fixed;*/
display: flex;
align-content: center;
align-items: center;
justify-content: center;
}
  h1.makeup-services {
    color: white;
    font-family: 'Montserrat';
    font-size: 44px;
    text-align: center;
  }

  .facial-bg {
  width: 100%;
  height: 550px;
  background-image: url(../images/facial02.jpg);
  background-size: cover;
  background-position: center;;
  /*background-attachment: fixed;*/
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  }
    h1.facial-services {
      color: white;
      font-family: 'Montserrat';
      font-size: 44px;
      text-align: center;
    }

    .body-bg {
    width: 100%;
    height: 550px;
    background-image: url(../images/massage.jpg);
    background-size: cover;
    background-position: center;;
    /*background-attachment: fixed;*/
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    }
      h1.body-services {
        color: white;
        font-family: 'Montserrat';
        font-size: 44px;
        text-align: center;
      }


/* changed margin for email-phone, purple-logo-container and media-container to respond to mobile screen size*/
@media (min-width: 480px) {
  .email-phone {
    margin: 5% 0;
  }
  .purple-logo-container {
    margin: 5% 0;
  }
  .media-icons {
    text-align: center;
    margin: 5% 0;
  }
}

@media (max-width: 768px) {
  .hair-bg {
    height: 330px;
  }
  .nails-bg {
    height: 330px;
  }
}

@media (max-width: 440px) {
  .hair-bg {
    height: 280px;
  }
  .nails-bg {
    height: 280px;
  }
}
